$primary--height: 200px;
$primary--width: 200px;
$primary--alignment: center;
$larger--font-size: larger;
$bold--font-weight: bold;
$primary--background-color: white;
$primary--text-color: black;
$base--padding: 20px;
$body--padding: 30px;
$body--padding-bottom: 70px;