$brand--color: #1060dc;
$brand--font-weight: 700;
$highlighted-menu: 1000;
$border: 1px solid black;
$primary--background: white;
$secondary--color: black;
$child--position: absolute;
$button--border-radius: 5px;
$button--padding: 4px;
$button--top: 250px;
$link--font: 'Open Sans', sans-serif;
$container--width: 1180px;
$container--padding: 0 10px;
$container--margin: 0 auto;
$section--border-radius: 10px;
$section--paragraph-width: 456px;
$flex-display: flex;
$parent--position: relative;